<div>
    <h2 id="page-heading">
        <span jhiTranslate="payParkApp.parking.home.title">Parkings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parking" [routerLink]="['/parking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="payParkApp.parking.home.createLabel">
            Create new Parking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="parkings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="payParkApp.parking.startDate">Start Date</span></th>
            <th><span jhiTranslate="payParkApp.parking.endDate">End Date</span></th>
            <th><span jhiTranslate="payParkApp.parking.location">Location</span></th>
            <th><span jhiTranslate="payParkApp.parking.vehicle">Vehicle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parking of parkings ;trackBy: trackId">
                <td><a [routerLink]="['/parking', parking.id, 'view' ]">{{parking.id}}</a></td>
                <td>{{parking.startDate | date:'mediumDate'}}</td>
                <td>{{parking.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="parking.location">
                        <a [routerLink]="['../location', parking.location?.id, 'view' ]" >{{parking.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parking.vehicle">
                        <a [routerLink]="['../vehicle', parking.vehicle?.id, 'view' ]" >{{parking.vehicle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/parking', parking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parking', parking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parking/'+ parking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
