<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-notification-heading" jhiTranslate="payParkApp.notification.home.createOrEditLabel">Create or edit a Notification</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!notification.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="notification.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.notification.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="notification.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.notification.message" for="field_message">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                        [(ngModel)]="notification.message" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.notification.parking" for="field_parking">Parking</label>
                    <select class="form-control" id="field_parking" name="parking" [(ngModel)]="notification.parking" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="parkingOption.id === notification.parking?.id ? notification.parking : parkingOption" *ngFor="let parkingOption of parkings; trackBy: trackParkingById">{{parkingOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
