<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span jhiTranslate="payParkApp.card.detail.title">Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="payParkApp.card.type">Type</span></dt>
                <dd>
                    <span>{{card.type}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.fullName">Full Name</span></dt>
                <dd>
                    <span>{{card.fullName}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.creditCardNumber">Credit Card Number</span></dt>
                <dd>
                    <span>{{card.creditCardNumber}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.cvv">Cvv</span></dt>
                <dd>
                    <span>{{card.cvv}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.expirationMonth">Expiration Month</span></dt>
                <dd>
                    <span>{{card.expirationMonth}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.expirationYear">Expiration Year</span></dt>
                <dd>
                    <span>{{card.expirationYear}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.card.user">User</span></dt>
                <dd>
                    {{card.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
