<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pricing-heading" jhiTranslate="payParkApp.pricing.home.createOrEditLabel">Create or edit a Pricing</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pricing.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pricing.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.pricing.amoount" for="field_amoount">Amoount</label>
                    <input type="number" class="form-control" name="amoount" id="field_amoount"
                        [(ngModel)]="pricing.amoount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.pricing.currency" for="field_currency">Currency</label>
                    <input type="text" class="form-control" name="currency" id="field_currency"
                        [(ngModel)]="pricing.currency" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="payParkApp.pricing.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="pricing.location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === pricing.location?.id ? pricing.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
