<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vehicle">
            <h2><span jhiTranslate="payParkApp.vehicle.detail.title">Vehicle</span> {{vehicle.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="payParkApp.vehicle.registrationId">Registration Id</span></dt>
                <dd>
                    <span>{{vehicle.registrationId}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.vehicle.description">Description</span></dt>
                <dd>
                    <span>{{vehicle.description}}</span>
                </dd>
                <dt><span jhiTranslate="payParkApp.vehicle.user">User</span></dt>
                <dd>
                    {{vehicle.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vehicle', vehicle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
